/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include "../swedish-keymap.h"

// None/Trans
#define _____ &none
#define t____ &trans

// Layers
#define DEF 0		// Default
#define AND 1		// Android
#define SYM 2		// Symbols
#define CMD 3		// Commands
#define AND_CMD 4	// Android functions
#define FN 5 		// Functions 

// nice!view
&nice_view_spi { cs-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>; };

&left_encoder {
	/delete-property/ resolution;
	steps = <72>;
};
&right_encoder {
	/delete-property/ resolution;
	steps = <72>;
};

&mt {
	retro-tap;
};

/ {
	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&left_encoder &right_encoder>;
		triggers-per-rotation = <36>;
	};

	macros {
		// bt_sel_in: bt_sel_in {
		// 	label = "BLE Select and inactivate";
        //     compatible = "zmk,behavior-macro-one-param";
        //     #binding-cells = <1>; // Must be 1
		// 	wait-ms = <200>;
		// 	bindings
		// 		= <&macro_param_1to1>
		// 		, <&bt BT_SEL MACRO_PLACEHOLDER>
		// 		, <&bt BT_DISI>
		// 		;
		// };
		bt_s_l: bt_s_l {
			label = "Bt Sel + layer";
			compatible = "zmk,behavior-macro-two-param";
			#binding-cells = <2>;
			wait-ms = <100>;
			bindings
				= <&macro_param_1to2>
				, <&bt BT_SEL MACRO_PLACEHOLDER>
				, <&macro_param_2to1>
				, <&macro_pause_for_release>
				, <&to MACRO_PLACEHOLDER>
				;
		};
		c_a_h: c_a_h {
			label = "Ctrl_Alt_Home";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <50>;
			bindings
				= <&macro_press &kp LCTRL &kp LALT>
				, <&macro_tap &kp HOME>
				, <&macro_release &kp LCTRL &kp LALT>
				, <&macro_press &kp LALT>
				, <&macro_tap &kp TAB>
				, <&macro_pause_for_release>
				, <&macro_release &kp LALT>
				;
		};
		grv_out: se_grave_output {
			label = "Grave_output";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap &kp SE_GRV>
				, <&macro_tap &kp SPACE>
				;
		};
		tilde_out: se_tilde_output {
			label = "Tilde_output";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap &kp SE_TILD>
				, <&macro_tap &kp SPACE>
				;
		};
		hat_out: se_hat_output {
			label = "Hat_output";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap &kp SE_HAT>
				, <&macro_tap &kp SPACE>
				;
		};

	behaviors {
		qlt: quick_layer_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "QUICK_LAYER_TAP";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			quick-tap-ms = <200>;
			tapping-term-ms = <125>;
			bindings = <&mo>, <&kp>;
		};

		// Swapper for smart alt+tab
		swapper: swapper {
			compatible = "zmk,behavior-tri-state";
			label = "SWAPPER";
			#binding-cells = <0>;
			bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
			ignored-key-positions = <12 24>;
		};

		rot_kp: behavior_sensor_rotate_kp {
			compatible = "zmk,behavior-sensor-rotate-var";
			label = "ENC_KP";
			#sensor-binding-cells = <2>;
			bindings = <&kp>, <&kp>;
		};

		vol_encoder: vol_encoder {
			compatible = "zmk,behavior-sensor-rotate";
			label = "VOL_ENCODER";
			#sensor-binding-cells = <0>;
			bindings = <&kp C_VOL_DN>, <&kp C_VOL_UP>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			label = " ";
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//               |CTRL | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   | RALT |
			bindings = <
&kp ESC			&kp N1	 		&kp N2			&kp N3			&kp N4			&kp N5														&kp N6			&kp N7			&kp N8			&kp N9			&kp N0			&kp SE_PLUS
&kp TAB			&kp Q			&kp W			&kp E			&kp R			&kp T														&kp Y			&kp U			&kp I			&kp O			&kp P			&kp SE_AO
&kp LSHFT		&kp A			&kp S			&kp D			&kp F			&kp G														&kp H			&kp J			&kp K			&kp L			&kp SE_OE		&kp SE_AE
&kp LCTRL		&kp Z			&kp X			&kp C			&kp V			&kp B				&kp C_MUTE			&kp C_PLAY_PAUSE	&kp N			&kp M			&kp COMMA		&kp DOT			&kp SE_MINS 	&kp RSHFT
								&kp LALT		&kp LGUI		&mo CMD			&kp BSPC			&qlt SYM SPACE		&qlt CMD RET		&mt LSHFT DEL	&kp DEL			&mo SYM			&kp RALT
			>;

			sensor-bindings = <
				&inc_dec_kp C_VOL_DN C_VOL_UP
				&inc_dec_kp C_PREV C_NEXT
			>;
		};
		
		android_layer {
			label = "Android";
// ------------------------------------------------------------------------------------------------------------
// |   |   |   |   |   |   |                 |   |   |   |   |   |   |
// |   |   |   |   |   |   |                 |   |   |   |   |   |   |
// |   |   |   |   |   |   |                 |   |   |   |   |   |   |
// |   |   |   |   |   |   |      |   |      |   |   |   |   |   |   |
//         |   |   |   |   |      |   |      |   |   |   |   |
			bindings = <
&kp K_BACK		t____	 		t____			t____			t____			t____														t____			t____			t____	 		t____			t____			t____
t____			t____	 		t____			t____			t____			t____														t____			t____			t____	 		t____			t____			t____
t____			t____	 		t____			t____			t____			t____														t____			t____			t____	 		t____			t____			t____
t____			t____			t____			t____			t____			t____				t____				t____				t____			t____			t____	 		t____			t____			&kp K_MENU
								t____			&kp C_AL_WWW	&kp C_AC_SEARCH	t____				t____				&qlt AND_CMD RET	t____			&kp C_AC_HOME	&kp K_APP		&kp K_PWR
			>;

			sensor-bindings = <
				&inc_dec_kp C_VOL_DN C_VOL_UP
				&inc_dec_kp DOWN UP
			>;
		};

		sym_layer {
			label = "Symbol";
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
// |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
//               |     |      |      |      |        |  |       |      |       |       |      |
			bindings = <
&kp LA(F4)		t____			&kp SE_AT		t____			&kp SE_DLR		&kp F5															&grv_out		&kp LC(F12)		t____			t____			t____			&kp SE_BSLS
&swapper		t____	 		t____			t____			t____			t____															&kp PG_UP		&kp HOME		&kp UP			&kp END			&kp SE_QUOT		&tilde_out
&kp LSHFT		t____	 		t____			t____			t____			t____															&kp PG_DN		&kp LEFT		&kp DOWN		&kp RIGHT		&kp SE_ASTR		t____
t____			t____			t____			t____			t____			t____				t____				&kp C_PLAY_PAUSE		t____			&kp SE_EQL		&kp SE_LABK		&kp SE_RABK		&kp SE_PIPE		t____
								t____			t____			t____			t____ 				t____				&mo FN					t____			&kp K_APP 		t____			t____
			>;

			sensor-bindings = <
				&inc_dec_kp LC(LEFT) LC(RIGHT)
				&inc_dec_kp PG_UP PG_DN
			>;
		};

		cmd_layer {
			label = "Command";
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
// |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
//               |     |      |      |      |        |  |       |      |       |       |      |
			bindings = <
&kp F1			&kp F2			&kp F3			&kp F4			&kp F5			&kp F6														&kp F7			&kp F8			&kp F9			&kp F10			&kp F11			&kp F12
&swapper		t____			t____			t____			t____			t____														&kp PG_UP		&kp HOME		&kp UP			&kp END			t____			t____
&kp LSHFT		t____			t____			t____			t____			t____														&kp PG_DN		&kp LEFT		&kp DOWN		&kp RIGHT		&kp SE_QUOT		t____
t____			t____			t____			t____			t____			t____				t____				&kp C_PLAY_PAUSE	&kp SE_LCBR		&kp SE_LBRC		&kp SE_RBRC		&kp SE_RCBR		t____			&kp PAUSE_BREAK
								t____			t____			t____			&kp DEL				&mo FN				t____				&kp KP_ENTER	t____			t____			t____
			>;

			sensor-bindings = <
				&inc_dec_kp PG_UP PG_DN
				&inc_dec_kp C_VOL_DN C_VOL_UP
			>;
		};

		android_cmd_layer {
			label = "DroidCmd";
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
// |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
//               |     |      |      |      |        |  |       |      |       |       |      |
			bindings = <
t____			t____	 		t____			t____			t____			t____														t____			t____			t____	 		t____			t____			t____
t____			t____	 		t____			t____			t____			t____														t____			t____			t____	 		t____			t____			t____
t____			t____	 		t____			t____			t____			t____														t____			t____			t____	 		t____			t____			t____
t____			t____			t____			t____			t____			t____				t____			t____					t____			t____			t____	 		t____			t____			t____
								t____			t____			t____			t____				t____			t____					t____			t____			t____			t____
			>;

			sensor-bindings = <
				&inc_dec_kp LEFT RIGHT
				&inc_dec_kp C_BRI_DN C_BRI_UP
			>;
		};

		fn_layer {
			label = "Function";
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
// |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
//               |     |      |      |      |        |  |       |      |       |       |      |
			bindings = <
&sys_reset		&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3	&bt BT_SEL 4												&out OUT_TOG 	t____			t____			&ext_power EP_OFF &ext_power EP_ON &sys_reset
t____			&bt BT_DIS 0	&bt BT_DIS 1	&bt BT_DIS 2	&bt BT_DIS 3	&bt BT_DIS 4												t____			t____			t____			t____			t____			t____
t____			&to AND			&to DEF			&bt_s_l 0 DEF 	&bt_s_l 2 DEF 	&bt_s_l 4 AND												t____			t____			t____			t____			t____			t____
&c_a_h			t____			t____			t____			t____			t____				&bt BT_CLR			&bt BT_CLR			t____			t____			t____			t____			t____			t____
								t____			t____			t____			t____ 				t____				t____				t____			t____			t____			t____
			>;

			sensor-bindings = <
				&inc_dec_kp PG_UP PG_DN
				&inc_dec_kp C_VOL_DN C_VOL_UP
			>;
		};
		empty_layer {
			label = "Empty";
// ------------------------------------------------------------------------------------------------------------
// |   |   |   |   |   |   |                 |   |   |   |   |   |   |
// |   |   |   |   |   |   |                 |   |   |   |   |   |   |
// |   |   |   |   |   |   |                 |   |   |   |   |   |   |
// |   |   |   |   |   |   |      |   |      |   |   |   |   |   |   |
//         |   |   |   |   |      |   |      |   |   |   |   |
			bindings = <
t____			t____	 		t____			t____			t____			t____														t____			t____			t____	 		t____			t____			t____
t____			t____	 		t____			t____			t____			t____														t____			t____			t____	 		t____			t____			t____
t____			t____	 		t____			t____			t____			t____														t____			t____			t____	 		t____			t____			t____
t____			t____			t____			t____			t____			t____				t____			t____					t____			t____			t____	 		t____			t____			t____
								t____			t____			t____			t____				t____			t____					t____			t____			t____			t____
			>;

			sensor-bindings = <
				&inc_dec_kp PG_UP PG_DN
				&inc_dec_kp C_VOL_DN C_VOL_UP
			>;
		};
	};
};
